/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default{
    background-color: $default;
    &:hover{
      background-color: $default-light;
      transition: 1s;
    }
  }
  
  .error {
    background-color: $error;
    &:hover{
      background-color: $error-light;
      transition: 1s;
    }
  }
  
  .info {
    background-color: $info;
    &:hover{
      background-color: $info-light;
      transition: 1s;
    }
  }
  
  .success {
    background-color: $success;
    &:hover{
      background-color: $success-light;
      transition: 1s;
    }
  }
  
  .warning {
    background-color: $warning;
    &:hover{
      background-color: $warning-light;
      transition: 1s;
    }
  }